.Xauthority
.cache/
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/sticker.sql
.config/pulse/
.config/ranger/shortcuts.conf
.esd_auth
.fehbg
.local/share/newsboat/
.local/share/xorg/
.mozilla/
.shortcuts
.vim/plugged/
.viminfo
.weatherreport

